<div class="container">
  <h1 *ngIf="loan.id == null">Crear juego</h1>
  <h1 *ngIf="loan.id != null">Modificar juego</h1>

  <form>
    <mat-form-field>
      <mat-label>Identificador</mat-label>
      <input
        type="text"
        matInput
        placeholder="Identificador"
        [(ngModel)]="loan.id"
        name="id"
        disabled
      />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select
        disableRipple
        [(ngModel)]="loan.client"
        name="client"
        required
      >
        <mat-option *ngFor="let client of clients" [value]="client">
          {{ client.name }}
        </mat-option>
      </mat-select>
      <mat-error>La cliente no puede estar vacío</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Juego</mat-label>
      <mat-select disableRipple [(ngModel)]="loan.game" name="game" required>
        <mat-option *ngFor="let game of games" [value]="game">
          {{ game.title }}
        </mat-option>
      </mat-select>
      <mat-error>El juego no puede estar vacío</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de préstamo</mat-label>
      <input
        matInput
        [matDatepicker]="startingLoanDate"
        [(ngModel)]="loan.startingDate"
        name="startingDate"
        required
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startingLoanDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #startingLoanDate></mat-datepicker>
      <mat-error>La fecha de préstamo no puede estar vacía</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de devolución</mat-label>
      <input
        matInput
        [matDatepicker]="endingLoanDate"
        [(ngModel)]="loan.endingDate"
        name="endingDate"
        required
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="endingLoanDate"
      ></mat-datepicker-toggle>
      <mat-datepicker #endingLoanDate></mat-datepicker>
      <mat-error>El Fecha de devolución no puede estar vacía</mat-error>
    </mat-form-field>
    <p *ngIf="error" style="color: red; max-width: 350px">
      {{ error }}
    </p>
  </form>

  <div class="buttons">
    <button mat-stroked-button (click)="onClose()">Cerrar</button>
    <button mat-flat-button color="primary" (click)="onSave()">Guardar</button>
  </div>
</div>
